<!DOCTYPE html>
{% extends 'appFive/base.html' %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Please Login</h1>
        <form action="{% url 'appFive:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter Username">

            <label for="password">Password:</label>
            <input type="password" name="password">

            <input type="submit" name="" value="Login">
        </form>
        <h5><a href="{% url 'appFive:register' %}">Register Here</a></h5>
    </div>
{% endblock %}